.pad {
  width: 2vw;
  height: 3vh;
  margin: 2px;
  display: inline-block;
  background: rgb(182, 173, 56);
  /* box-shadow: rgba(19, 24, 65, 0.098) -6px 6px 0px 0px inset; */
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background: rgb(76, 62, 112);
}

.playing {
  background: radial-gradient(#FCFCFC, #E3E3E3, #B6B6B6);
}

.playing.selected {
  background: radial-gradient(#E6FFE6, #99FF99, #66FF66);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#play-pause {
  margin: 10px 0;
}

.control {
  margin: 10px 0;
}

/* .instrument-label {
  display: inline-block;
  vertical-align: top;
  width: 4em;
  position: relative;
  top: 1em;
  text-align: right;
  margin-right: 0.5em;
} */

.instruments {
  border-width: 1px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(6, 69, 88);
  background-color:rgb(26, 87, 167);
  font: black;
}

.instrument, .instruments, #search-container, .wave, .tempoBorder, .edit-zone, .wave {
  border-width: 1px;
  border-style: groove;
  border-radius: 10px;
  border-color: rgb(41, 35, 66);
  background-color:rgb(47, 96, 156);
  font: black;
}

.tempo-container {
  margin: 0 10px;
}

#tempo-input {
  margin: 0 10px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 25px;
  width: 60px;
  vertical-align: middle;
}

.tempo-btn {
  margin: 0 5px;
}

.drag-me {
  width: 30px;
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  background: #BADA55;
  font-size: 10px;
  position: absolute;
  text-align: center;
  padding-top: 7px;
}

.instrument.drop-over {
  /* border-width: 1px;*/
  border-style: groove;
  border-color: greenyellow;
}

.deleteTrackButton {
  /* display: inline-block; */
  /* position: right; */
  width: 2vw;
  height: 3vh;
  /* margin: 2px; */
  /* margin-left: 20px; */
}

wave {
  width: 600px;
  height: 80px!important;  
  border-radius: 5px;
}

timeline {
  width: 600px!important;
}

.edit-zone {
  border-radius: 5px;
  background-color: #e1dede;
}

a {
  color: black;
}

.jumbotron {
  background-color:rgb(47, 96, 156);
}


/*Triangle dropdown*/
.glyphicon-chevron-right {
  position: relative;
}

.rotation {
  transform: rotate(90deg);
}
