<!doctype html>
<html>

<head>
  <title>Multi Web Audio Sequencer</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron" style="text-align: center;">
        <h1>Multi Web Audio Sequencer</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <input type="text" placeholder="Type in a room number" id="roomNumber">
      <input type="submit" value="Change Room" id="roomNumberSubmit">
    </div>
    <div class="row">
      <button id="play-pause" onclick="this.blur();" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <span class="tempo-container">
        <label for="tempo-input" >Tempo </label>
        <input id="tempo-input" type="number" disabled>
        <span id="decrease-tempo" class="glyphicon glyphicon-minus btn btn-default tempo-btn"></span>
      <span id="increase-tempo" class="glyphicon glyphicon-plus btn btn-default tempo-btn"></span>
      </span>
    </div>
    <div id="instrument-section" class="bs-calltoaction bs-calltoaction-primary">
      <div class="row">
        <div class="instruments col-md-10">
          <div></div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="instruments col-sm-12" id="instrument-section">
      <div class="row"></div>
      <div class="row section">
         <div class="col-xs-12">
             <button id="newTrack" type="button" class="btn btn-success" onclick="addNewTrackDetails()">Add Track</button>
               <div id="trackDetails" hidden>
                  <input type="text" id="newTrackName" placeholder="New track name">
                  <input type="text" id="newTrackUrl" placeholder="Sound url" hidden>
                  <button type="button" id="addNewTrack" class="btn btn-success" disabled>New track</button>
                </div>
              </div>
         </div>
   </div>
   </div>
    <br>
    <div class="row" id="search-container">
      <div class="col-md-8">
        <form id="search-form" action="javascript:void(0);" style="display: inline-block;">
          <input type="text" id="search-query" placeholder="Enter query" class="my-box-white">
          <button type="button" id="search-button" class="btn btn-success" disabled>Search</button>
        </form>
        &emsp;
        <nav aria-label="Page navigation" style="display: inline-block;">
          <ul class="pagination">
            <li>
              <button class="btn btn-success" type="button" id="previous" aria-label="Previous" disabled>
                Previous
              </button>
            </li>
            <span class="my-box" id="page"> -/- </span>
            <li>
              <button class="btn btn-success" type="button" id="next" aria-label="Next" disabled>
                Next
             </button>
            </li>
          </ul>
        </nav>
        <div id="search-result-container"></div>
        <div id="error" style="color:red"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="filter-controls col-md-4">
          <div class="control">
            <button id="lpf" class="btn btn-default btn-lg">Low Pass Filter</button>
          </div>
          <div class="control">
            <label for="freq-slider">Cutoff Frequency</label>
            <div id="freq-slider"></div>
          </div>
          <div class="control">
            <label for="quality-slider">Quality</label>
            <div id="quality-slider"></div>
          </div>
        </div>
        <div class="effect-controls col-md-4">
          <div class="control">
            <button id="reverb" class="btn btn-default btn-lg">Reverb</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Javascripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/plugin/wavesurfer.regions.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
  <script type="text/javascript" src="./assets/javascripts/freesound.js"></script>
  <script type="text/javascript" src="./assets/javascripts/wave.js"></script>
  <script type="text/javascript" src="./assets/javascripts/kit.js"></script>
  <script type="text/javascript" src="./assets/javascripts/impulse-response.js"></script>
  <script type="text/javascript" src="./assets/javascripts/app.js"></script>
  <script>
    function addPadClickEvent(socket, instrument = null) {
      if (instrument) {
        // if an instrument is given, select the pads of it
        var pads = $('div[data-instrument="' + instrument + '"]').children().children(".pad");
      } else {
        // if there is no instrument given, select all the pads
        var pads = $('.pad');
      }
      pads.click(function () {
        console.log($(this));
        socket.emit('pad', toggleSelectedListener($(this)));
      });
    }

    //function changeRoom() {
      $('#roomNumberSubmit').click(function(){
        var roomNumber = $('#roomNumber').val();
        socket.emit('roomNumber', roomNumber);
        console.log(roomNumber);
      });
  // }


    function sendNewTrack(trackName, soundUrl = null) {
      socket.emit('newTrack', [trackName, soundUrl]);
    }

    function sendLoadSound(trackName, soundUrl) {
      socket.emit('loadSound', [trackName, soundUrl]);
    }

    function sendDeleteTrack(trackName) {
      socket.emit('deleteTrack', trackName);
    }

    $(function () {
      var servername = '<%= hostname %>';
      console.log("connecting to ", servername);
      socket = io.connect(servername);

      socket.on('connectToRoom', function(data) {
         console.log('conncted to room' + data);
         $('.container').append('<p>Connected to room ' + data + '<p>');
      });
      // on recieve sequencer state
      socket.on('SendCurrentState', function (json) {
        console.log("ReceiveCurrentSequencerState", json);
        TranslateStateInActions(json);
      })

      // on recieve pad change
      socket.on('sendPad', function (event) {
        console.log('Valeur des pads reçues', event);
        toggleSelectedListenerSocket(event);
      });

      // on recieve new track
      socket.on('sendNewTrack', function (message) {
        addNewTrack(message[0], message[1]);
        console.log('recieveNewTrack: ' + message);
      });

      // on recieve load sound
      socket.on('sendLoadSound', function (message) {
        currentKit.loadSample(message[1], message[0]);
      });

      // on delete track
      socket.on('sendDeleteTrack', function (message) {
        deleteTrack(message);
      });

      // on change wave region
      socket.on('sendWaveRegion', function (message) {
        var trackName = message[0];
        var startTime = message[1];
        var endTime = message[2];
        var waveName = trackName + 'Wave';
        currentKit[waveName].setStart(startTime);
        currentKit[waveName].setEnd(endTime);
      });
    })
  </script>
</body>

</html>